# =========================
# Runtime / Wallet Data
# =========================
.wallet/
.grin/
.vscode/

# =========================
# Build artifacts
# =========================
build/
*.o
*.obj
*.a
*.lib
*.so
*.dylib

# =========================
# Windows binaries & DLLs
# =========================
*.dll
*.exe
*.pdb

# =========================
# Deploy runtime folders
# =========================
deploy/main/
deploy/test/

# =========================
# Qt Creator / VS / IDE
# =========================
*.user
*.pro.user
*.autosave
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
